.error{
    
    margin-top: -20px;
    color: red;
    /* padding: .5em; */
    display: inline-block;
    font-size: .7em;
    margin-bottom: 20px;

}
.border{
    border: solid  saddlebrown 2px;
   
   box-sizing: border-box;
   position:relative;
   background:lightgoldenrodyellow;
  width:100%
   
  
}
.number:hover{

    color: red;
}

.btn{
    width:10%;
    display: inline-block;
    box-sizing: border-box;
  }